name: "Xcel iTron MQTT"
description: "Bridge from Xcel iTron smart meters to MQTT"
url: "https://www.github.com/wingrunr21/hassio-xcel-itron-mqtt"
version: "1.7.0"
slug: "xcel-itron-mqtt"
arch:
  - aarch64
  - amd64
image: ghcr.io/wingrunr21/{arch}-xcel-itron-mqtt
init: false
services:
  - mqtt:need
panel_icon: mdi:meter-electric-outline
map:
  - addon_config:rw
options:
  meter_ip:
  meter_port: 8081
  cert_dir: /config/certs
  cert_file: cert.pem
  key_file: key.pem
  loglevel:
  mqtt: {}
schema:
  meter_ip: str
  meter_port: port
  lfdi: str?
  cert_dir: str?
  cert_file: str?
  key_file: str?
  loglevel: list(DEBUG|INFO|WARNING|ERROR|CRITICAL)?
  mqtt:
    server: str?
    port: port?
    user: str?
    password: password?
    topic_prefix: str?
