name: Build Release

on:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: "v3.0.4"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push addon
        id: build
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            --target xcel-itron-mqtt \
            --amd64 \
            --aarch64 \
            --docker-hub ghcr.io/${{ github.repository_owner }} \
            --cosign

      - name: Publish release
        if: success()
        uses: softprops/action-gh-release@v2
